* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#box {
    height: 300px;
    width: 300px;
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: royalblue;
}
